@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --scrollbar-none: none;
  --color-brightAzure: #008bff;
  --color-dodgerBlue: #0163c6;
  --color-goldenYellow: #f1b813;
  --color-skyBlue: #00aaff;
  --color-brightBlue: #0180FF;
  --color-brightGold: #efd01b;
  --color-aliceBlue: #f9fbfd;
  --color-charcoalBlack: #131919;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rotate-0 {
  transform: rotate(-90deg);
}

.rotate-90 {
  transform: rotate(-90deg);
}

.transition-transform {
  transition: transform 0.3s ease;
}

.font-bold {
  font-weight: bold;
}
